{% extends "base.html" %}

{% comment %} vim: set ft=htmldjango sw=2 sts=2 : {% endcomment %}

{% block content %}

{% if request.user.get_profile.can_tweet %}

  <div id="update-response">
    {% if update_response.error %}
      <font color="red">{{ update_response.error }}</font>
    {% endif %}
  </div>

  <div id="tweet_form">
    <form action="" method="POST">
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  </div>

  <hr>

  <div id="tweets">
    <table>
    {% for tweet in timeline %}
      <tr>
        <td><img src="{{ tweet.user.profile_image_url }}"></td>
        <td>{{ tweet.text }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

{% else %}

  <div id="twitter_connect">
    <a href="/twitter/auth">Click here to authorize Twitter connection.</a>
  </div>

{% endif %}

{% endblock %}
